<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Track Master | Create System</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static',filename='images/favicon.ico') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="{{ url_for('static',filename='styles/create_schedule-styles.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="sidenavbar">
        <div class="logo_details">
            <div class="logo_name">Track Master</div>
            <i class="fa-solid fa-bars" id="navBtn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <a href="/admin_home">
                    <div class="icon-div"><i class="fas fa-home"></i></div>
                    <span class="icon_name">Home</span>
                </a>
                <span class="tooltiptext">Home</span>
            </li>
            <li>
                <a href="/create_system">
                    <div class="icon-div"><i class="fa fa-calendar"></i></div>
                    <span class="icon_name">Create System</span>
                </a>
                <span class="tooltiptext">Create System</span>
            </li>
            <li>
                <a href="remove_system">
                    <div class="icon-div"><i class="fa fa-calendar-xmark"></i></div>
                    <span class="icon_name">Remove System</span>
                </a>
                <span class="tooltiptext">Remove System</span>
            </li>
            <li>
                <a href="create_schedule">
                    <div class="icon-div"><i class="fa fa-calendar-plus"></i></div>
                    <span class="icon_name">Create Schedule</span>
                </a>
                <span class="tooltiptext">Create Schedule</span>
            </li>
            <li>
                <a href="remove_from_schedule">
                    <div class="icon-div"><i class="fa fa-calendar-week"></i></div>
                    <span class="icon_name">Remove from Schedule</span>
                </a>
                <span class="tooltiptext">Remove from Schedule</span>
            </li>
        </ul>

        <div class="logout">
            <a href="logout"><i class="fa fa-sign-out" ></i></a>
        </div>
    </div>

    <section class="home-section">
        <div id="message">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Error: </strong> {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        
        <div class="title">Create Schedule</div>

        <div class="container">
            <form name="user-info" id="form-box" method="POST">
                <div class="info-box">
                    <label for="user-info">System ID:</label><br>
                    <input type="text" name="system-id" placeholder="GO Transit"><br>
                </div>
                <div class="info-box">
                    <label for="user-info">Departure Time (HH:MM):</label><br>
                    <input type="text" name="depart-time" placeholder="09:15"><br>
                </div>
                <div class="info-box">
                    <label for="user-info">Train Name:</label><br>
                    <input type="text" name="train-name" placeholder="line1Train"><br>
                </div>
                <div class="info-box">
                    <label for="user-info">Stations:</label><br>
                    <textarea name="stations" rows="5" cols="30" 
                        placeholder="Enter each station on a new line "></textarea>
                </div>
                <div class="info-box">
                    <label for="user-info">Time Between Stations:</label><br>
                    <textarea name="time-between-stations" rows="5" cols="30"
                      placeholder="Enter each time on a new line"></textarea>
                </div>
                <input id="create-button" type="submit" value="Create">
            </form>
        </div>
    </section>

    <script>
        window.onload = function () {
            const sidenavbar = document.querySelector(".sidenavbar");
            const closeBtn = document.querySelector("#navBtn");

            closeBtn.addEventListener("click", function () {
                sidenavbar.classList.toggle("open")
                menuBtnChange()
            })

            function menuBtnChange() {
                if (sidenavbar.classList.contains("open")) {
                    closeBtn.classList.replace("bx-menu", "bx-menu-alt-right")
                } else {
                    closeBtn.classList.replace("bx-menu-alt-right", "bx-menu")
                }
            }
        }
    </script>

</body>

</html>