<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Track Master | Create System</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static',filename='images/favicon.ico') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="{{ url_for('static',filename='styles/create_schedule-styles.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="sidenavbar">
        <div class="logo_details">
            <div class="logo_name">Track Master</div>
            <i class="fa-solid fa-bars" id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <a href="/admin_home">
                    <div class="icon-div"><i class="fas fa-home"></i></div>
                    <span class="link_name">Home</span>
                </a>
                <span class="infotool">Home</span>
            </li>
            <li>
                <a href="/create_system">
                    <div class="icon-div"><i class="fa fa-calendar"></i></div>
                    <span class="link_name">Create System</span>
                </a>
                <span class="infotool">Create System</span>
            </li>
            <li>
                <a href="remove_system">
                    <div class="icon-div"><i class="fa fa-calendar-xmark"></i></div>
                    <span class="link_name">Remove System</span>
                </a>
                <span class="infotool">Remove System</span>
            </li>
            <li>
                <a href="create_schedule">
                    <div class="icon-div"><i class="fa fa-calendar-plus"></i></div>
                    <span class="link_name">Create Schedule</span>
                </a>
                <span class="infotool">Create Schedule</span>
            </li>
            <li>
                <a href="remove_from_schedule">
                    <div class="icon-div"><i class="fa fa-calendar-week"></i></div>
                    <span class="link_name">Remove from Schedule</span>
                </a>
                <span class="infotool">Remove from Schedule</span>
            </li>
            <li>
                <a href="#">
                    <div class="icon-div"><i class="fa-solid fa-user"></i></div>
                    <span class="link_name">User Account</span>
                </a>
                <span class="infotool">User Account</span>
            </li>
            <!-- <li class="profile">
                <i class="fa fa-sign-out" id="log_out"></i>
            </li> -->
        </ul>

        <div class="logout">

            <a href=""><i class="fa fa-sign-out" ></i></a>
            
        </div>
    </div>

    <section class="home-section">
        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Error: </strong> {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% else %}
                    <div class="alert alert-success alter-dismissable fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        
        <div class="text">Create Schedule</div>

        <div class="form-container">
            <!-- <h1 id="form-title">Create Schedule</h1> -->

            <form name="user-info" id="form-box" method="POST">
                <div class="info-box" id="info1">
                    <label for="user-info">System ID:</label><br>
                    <input id="name" type="text" name="system-id" placeholder="GO Transit"><br>
                </div>
                <div class="info-box" id="info2">
                    <label for="user-info">Departure Time (HH:MM):</label><br>
                    <input id="name" type="text" name="depart-time" placeholder="09:15"><br>
                </div>
                <div class="info-box" id="info3">
                    <label for="user-info">Train Name:</label><br>
                    <input id="name" type="text" name="train-name" placeholder="line1Train"><br>
                </div>
                <label for="user-info">Stations:</label><br>
                <textarea id="text-box" name="stations" rows="5" cols="50"
                  placeholder="Enter each station on a new line ">
                </textarea><br>
                <label for="user-info">Time Between Stations:</label><br>
                <textarea id="text-box" name="time-between-stations" rows="5" cols="50"
                  placeholder="Enter each time on a new line">
                </textarea><br>
                <input id="login-button" type="submit" value="Create">
            </form>
        </div>
    </section>

    <script>
        window.onload = function () {
            const sidenavbar = document.querySelector(".sidenavbar");
            const closeBtn = document.querySelector("#btn");
            const searchBtn = document.querySelector(".bx-search")

            closeBtn.addEventListener("click", function () {
                sidenavbar.classList.toggle("open")
                menuBtnChange()
            })

            searchBtn.addEventListener("click", function () {
                sidenavbar.classList.toggle("open")
                menuBtnChange()
            })

            function menuBtnChange() {
                if (sidenavbar.classList.contains("open")) {
                    closeBtn.classList.replace("bx-menu", "bx-menu-alt-right")
                } else {
                    closeBtn.classList.replace("bx-menu-alt-right", "bx-menu")
                }
            }
        }
    </script>

</body>

</html>