<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <title>Track Master | FAQ</title>
  <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}" />
  <link rel="apple-touch-icon" href="{{ url_for('static',filename='images/favicon.ico') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href="{{ url_for('static',filename='styles/faq-styles.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="backdrop">
    <h1 class=""></h1>
      <p>Welcome to our website!</p>
  </div>

  <div id="block">
    <h1 class=""></h1>
  </div>

  <footer>
    <div id="footer">
      <div id="socials">
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>
      </div>
      <div id="links">
        <ul>
          <li><a href="#">Accessibility</a></li><li> | </li>
          <li><a href="#">Privacy</a></li><li> | </li>
          <li><a href="#">Terms & Conditions</a></li>
      </div>

      <h5 id="copyright">Copyright &copy; 2023, Track Master. All Rights Reserved</h5>

    </div>
  </footer>
  

  <div id="main_menu">
    <div id="nav-back">
      <div class="logo_area">
        <a><img id="homepage-logo" src="{{ url_for('static',filename='images/train_logo.png') }}" alt=""></a>
      </div>

      <div id="test" class="inner_main_menu">
        <ul id="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a style="pointer-events: none; cursor: default;" href="">Trains</a>
            <ul>
              <li><a href="/find_route">Trip Planner</a></li>
              <li><a href="/eta">ETA</a></li>
              <li><a href="/eta">Schedules</a></li>
            </ul>
          </li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/schedules">Schedules</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>
    </div>
  </div>

</body>

</html>