<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is a website for a Train Traffic Management System called Track Master" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <title>Track Master | Hompage</title>
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="apple-touch-icon" href="/images/favicon.ico" />
  <link href="home-styles.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <!-- <div id="home-navbar">
        <ul>
            <li><a id="nav-title"> TRACK MASTER</li>
            <li><a class="nav-links" href="index.html"> LOGIN</a></li>
        </ul>
    </div> -->

  <div id="backdrop">
    <h1 class=""></h1>
  </div>

  <div id="block">
    <h1 class=""></h1>
  </div>

  <div id="welcome">
    <h1>Welcome to Track Master Train Management System.</h1>
  </div>

  <div id="footer">
    <h5>Copyright &copy; 2023, Track Master. All Rights Reserved</h5>
  </div>

  <div id="login">
    <a href="login.html">Login</a>
  </div>

  <div id="train">
    <img src="/images/train2.jpg" alt="">
  </div>

  <div id="main_menu">
    <div id="nav-back">
      <div class="logo_area">
        <a><img id="homepage-logo" src="/images/train_logo.png" alt=""></a>
      </div>

      <div id="test" class="inner_main_menu">
        <ul id="menu">
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Trains</a>
            <ul>
              <li><a href="">Trip Planner</a></li>
              <li><a href="">Schedules</a></li>
              <li><a href="">Dropdown Menu</a></li>
            </ul>
          </li>
          <li><a href="">Contact</a></li>
          <li><a href="">Maps</a></li>
          <li><a href=""></a></li>
        </ul>
      </div>
    </div>
  </div>


  <!-- <div id="home-title">
        <h1 class="title">Traffic Management System</h1>
    </div> -->

  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <!-- <ul>
        <li>
            <a class="nav-links" href="index.html"></a>
            <span>HOME</span>
        </li>
        <div class="dropdown">
        </div>
      </ul> -->

  <!-- <img src="/images/train.jpg" alt=""> -->
</body>

</html>