<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <title>Traffic Management System</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <div class="navbar">
    <nav>
      <ul>
        <li><a class="nav-links" href="index.html"> HOME</a></li>
        <div class="dropdown">
        </div>
      </ul>

      <div id="home-title">
        <h1 class="title">Traffic Management System</h1>
      </div>
    </nav>
  </div>


  <script src="script.js"></script>

  <div id="adminLoginButton">
    <a href="/login">
      <button >Admin Login/Register</button>
    </a>
  </div>

  <div id="plan trip">
    <a href="/">
      <button >Admin Login/Register</button>
    </a>
  </div>

</body>

</html>