<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <title>Track Master | Schedules</title>
  <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}" />
  <link rel="apple-touch-icon" href="{{ url_for('static',filename='images/favicon.ico') }}" />
  <link href="{{ url_for('static',filename='styles/maps-styles.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
  {% for transit_type, transit_info in info.items() %}
    <h1>{{ transit_type }}</h1>
    {% for line_name, stations in transit_info.items() %}
      <h2>{{ line_name }}</h2>
      <table>
        <tr>
          <th>Station</th>
          <th>Time</th>
        </tr>
        {% for station_name, time in stations.items() %}
          <tr>
            <td>{{ station_name }}</td>
            <td>{{ time }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endfor %}
  {% endfor %}    
</body>

</html>