<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <title>Track Master | Signup</title>
  <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}" />
  <link rel="apple-touch-icon" href="{{ url_for('static',filename='images/favicon.ico') }}" />
  <link href="{{ url_for('static',filename='styles/signup-styles.css') }}" rel="stylesheet" type="text/css" />
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
</head>

<body>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    {% endfor %}
  {% endif %}
  {% endwith %}

  <div class="form-container">
    <h1 id="form-title">Sign Up</h1>

    <form name="user-info" id="form-box" method="POST">
      <div class="info-box" id="info1">
        <label for="user-info">Username:</label><br>
        <input id="name" type="text" name="user-name" placeholder="John Doe"><br>
      </div>

      <div class="info-box" id="info2">
        <label for="user-info">Password:</label><br>
        <input id="password" type="text" name="user-password" placeholder="******"><br>
      </div>

      <div class="info-box" id="info1">
        <label for="user-info">Admin Key:</label><br>
        <input id="key" type="text" name="user-key" placeholder="******"><br>
      </div>

      <input id="login-button" type="submit" value="Sign Up">
    </form>

</body>

</html>