@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #E4E9F7;
  margin: 0;
  padding: 0;
}

#box {
  background-color: #CDD6DC;
  width: 75%;
  min-height: 100vh;
  border-radius: 1px;
  box-shadow: 0px 15px 25px;
}

#eta_form {
  background: white;
  width: 325px;
  max-height: 350px;
  margin: 10% 0px 0px 5%;
}

#eta_info {
  width: 25vw;
  min-width: 160px;
  background-color: white;
  margin: 10% 0px 0px 15%;
}

#eta_info h1 {
  text-align: center;
}

#search-button {
  background-color: #13818D;
  color: white;
  border-radius: 5px;
  height: 35px;
  width: 86%;
  border-color: #13818D;
  margin-bottom: 10px;
  margin-left: 20px;
}

.info-box {
  margin: 20px;
  text-align: left;
}

.info-box input {
  width: 100%;
  height: 40px;
}

.info-box label {
  margin: 10px 0px 10px 0px;
}

#form-title {
  text-align: center;
  margin-top: 20px;
}

.info-box {
  margin: 20px;
  text-align: left;
}

#info {
  text-align: center;
}

.time-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #fff;
}

.time-box h2 {
  margin-top: 0;
}

.time-box .station-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.time-box .time-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-box .time-info p {
  margin: 0;
}

#home-button a i {
  color: black;
}