@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

#main.title {
  background-color: black;
}

#home-title {
  color: black;
  text-align: center;
  vertical-align: middle;
  padding: 100px;
}

body {
  background-color: #e4e9f7;
}

.inner_main_menu {
  margin: 0 auto;
  width: 1170px;
}

.inner_main_menu ul {
  margin: 0;
  padding: 60px 20px 40px 80px;
  list-style: none;
  text-align: right;
}

.inner_main_menu ul li {
  float: none;
  display: inline-block;
  position: relative;

}

.inner_main_menu ul li:nth-child(1),
.inner_main_menu ul li:nth-child(2),
.inner_main_menu ul li:nth-child(3) {
  float: left;
  background-color: none;
  padding-right: 38px;
  padding-top: 10px;
}

.inner_main_menu ul li:nth-child(3) {
  padding-right: 0px;

}

.inner_main_menu ul li:nth-child(4),
.inner_main_menu ul li:nth-child(5) {
  background-color: none;
  padding-left: 0px;
  padding-right: 70px;
  padding-top: 10px;

}

/* .inner_main_menu ul li:nth-child(5) {
  padding-right: -30px;
} */


.inner_main_menu ul li a {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 0px 20px;
}

.inner_main_menu ul li a:hover {
  color: #13818D;
}

.inner_main_menu ul li ul {
  display: none;
  position: absolute;
  top: 45px;
  left: -9999999px;
  width: 130px;
  padding: 0px;
  background: black;
  z-index: 5;
}

.inner_main_menu ul li:hover ul {
  display: inline-block;
  left: 0px;
  text-align: left;
  color: #13818D;
}

.inner_main_menu ul li ul li a {
  color: white;
  text-transform: capitalize;
  font-size: 15px;
  background-color: black;
  margin-right: 0;
  margin-top: 0;
}

.inner_main_menu ul li:hover a {
  color: #13818D;
}

.inner_main_menu ul li:hover ul li a {
  color: white;
}

.inner_main_menu ul li ul li a:hover {
  color: #13818D;
}

.logo_area {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 0;
  content: "";
  margin-left: -150px;
  text-align: center;
}

#homepage-logo {
  width: 150px;
  height: 150px;
  background-color: black;
  border-radius: 50%;
  overflow: hidden;
  transform-origin: center;
  transition: transform 0s ease-in-out;

}

#block {
  position: fixed;
  z-index: -1;
  background-color: black;
  height: 50px;
  width: 70%;

  text-align: center;
  margin-top: 60px;
  margin-left: 15%;

}

#backdrop {
  position: fixed;
  z-index: -2;
  background-color: white;
  height: 100%;
  width: 70%;
  text-align: center;
  margin-left: 15%;
  box-shadow: 0 15px 25px
}

#main_menu {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  height: 500px;
  text-align: center;
}

/* #nav-back {
  height: 100px;

} */

#welcome {
  position: fixed;
  margin: 10% 0 0 16%;
  z-index: 2;
  color: black;
  background-color: black;
  padding: 0 1% 0 1%;
  /* padding-left: 1%;
  padding-right: 1%; */

  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .15);

  backdrop-filter: blur(5px);
}

#train {
  position: fixed;
  z-index: -2;
  margin: 7% 0 0 15%;
}

#train img {
  width: 1075px;
  height: 530px;
}

#welcome h1 {
  color: #fff;
  margin: 0 auto;
}

#login {
  position: fixed;
  z-index: 2;
  color: black;
  margin-left: 82%;
}

#login a {
  text-decoration: underline;

}

#footer {
  position: fixed;
  background-color: black;
  color: gray;
  margin: 41% 0 0 15%;
  height: 99px;
  width: 1075px;
  text-align: center;

}

#links ul li {
  display: inline-block;
  text-decoration: none;
  color: gray;
}

#links ul li a, #socials a {
  text-decoration: none;
  color: gray;
}

#links ul li a:hover,
#socials a:hover {
  color: white;
}

#socials a{
  padding:0% 1% 0% 1%;
}

#socials {
  padding:0.5% 0% 0% 0%;
}

#links {
  padding:0% 0% 0.5% 0%;
}

#links ul li a{
  padding-left:5px;
  padding-right:5px;
}