@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #E4E9F7;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 6%;
  background: white;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 15px 25px;
}

#form-title {
  text-align: center;
  font-weight: bold;
  color: #13818D;
}

.info-box {
  margin: 20px;
  text-align: left;
}

.info-box input {
  width: 100%;
  height: 40px;
}

#submit-button {
  text-align: center;
  margin-left: 20px;
  margin-bottom: 10px;
}

#signup-button {
  margin-left: 20px;
}

#info {
  text-align: center;
}

#tooltip {
  position: absolute;
  display: inline-block;
  margin-top: 5px;
}

#tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: white;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

#tooltip:hover .tooltiptext {
  visibility: visible;
}

#signup-button {
  background-color: #13818D;
  color: white;
  border-radius: 5px;
  height: 35px;
  width: 86%;
  border-color: #13818D;
  margin-bottom: 10px;
}

#home-button {
  margin-top:5px;
  margin-left:5px;
}

#home-button a i{
  color: black;
}